body {
    padding: 10px;
    font-family: Arial, sans-serif;
    min-width: 300px;
    max-width: 600px;
}

h1 {
    margin-bottom: 20px;
    padding: 0;
    font-size: 20px;
    color: #e02f03;
}

#scoreSite {
    font-size: 18px;
    color: #ffee02;
    margin-bottom: 2px;
    font-weight: bold;

}

.section {
    margin-top: 20px;
    margin-bottom: 20px;
}

#connectionsCount {
    font-size: 16px;
    color: #ac0360;
    margin-bottom: 2px;
}

#servicesCount,
#threatsCount,
#cookiesCount,
#cookiesCount3 {
    font-size: 16px;
    color: #382d07;
    margin-bottom: 2px;
}

#servicesCount {
    color: #616161;
    margin-top: 25px;
}

#threatsCount,
#cookiesCount {
    color: #f39c12;
    margin-top: 25px;
}

#cookiesCount3 {
    color: #fdd700;
    margin-top: 25px;
}

#localStorageCount {
    color: #0094d8;
    margin-top: 25px;
}

#localStorageResults li,
#sessionStorageResults li {
    padding: 8px;
    background-color: #f8f8f8;
    margin-top: 2px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#sessionStorageCount {
    color: #9a00d6;
    margin-top: 25px;
}

#canvasCount {
    color: #00d8a6;
    margin-top: 25px;
}

#dropdown,
#threatsDropdown,
#connectionsDropdown,
#servicesDropdown,
#cookiesDropdown,
#cookiesDropdown3,
#canvasDropdown {
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
    display: none;
}

#dropdown li,
#threatsDropdown li,
#connectionsDropdown li,
#servicesDropdown li,
#cookiesDropdown li,
#cookiesDropdown3 li,
#localStorageResults li,
#sessionStorageResults li,
#ccanvasResults li {
    padding: 8px;
    background-color: #f8f8f8;
    margin-top: 2px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

button {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #0056b3;
}