body {
    padding: 10px;
    font-family: Arial, sans-serif;
    min-width: 300px;
    /* Mínimo recomendado para legibilidade */
    max-width: 600px;
    /* Máximo para evitar que o popup seja muito largo */
}

body h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #e02f03;
}

#dropdown {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

#dropdown li {
    padding: 8px;
    background-color: #f8f8f8;
    margin-top: 2px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

button {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}